body {
  margin: 0;
  font-family: "Merriweather", serif;
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Light Mode Styles */
body.light-mode {
  background-color: #fff;
  color: #333;
}

body.light-mode .contact-box {
  background: #ffe4e1;
  color: #333;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
}

body.light-mode .contact-box input,
body.light-mode .contact-box textarea {
  background: #ffebcd;
  color: #333;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

body.light-mode .contact-box input::placeholder,
body.light-mode .contact-box textarea::placeholder {
  color: #666;
}

body.light-mode .contact-box input:focus,
body.light-mode .contact-box textarea:focus {
  outline: none;
  box-shadow: 0 0 10px rgba(255, 204, 153, 0.7);
}

body.light-mode .contact-box button {
  background: #ff7f50;
  color: #333;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
}

body.light-mode .contact-box button:hover {
  background: #ff6347;
  box-shadow: 0 0 10px rgba(255, 99, 71, 0.7);
}

/* Dark Mode Styles */
body.dark-mode {
  background-color: #000;
  color: #ddd;
}

body.dark-mode .contact-box {
  background: #3b3b98;
  color: #fff;
  box-shadow: 0 4px 30px rgba(255, 255, 255, 0.2);
}

body.dark-mode .contact-box input,
body.dark-mode .contact-box textarea {
  background: #4b4b7f;
  color: #fff;
  box-shadow: 0 4px 30px rgba(255, 255, 255, 0.1);
}

body.dark-mode .contact-box input::placeholder,
body.dark-mode .contact-box textarea::placeholder {
  color: #bbb;
}

body.dark-mode .contact-box input:focus,
body.dark-mode .contact-box textarea:focus {
  outline: none;
  box-shadow: 0 0 10px rgba(100, 149, 237, 0.7);
}

body.dark-mode .contact-box button {
  background: #6074f9;
  color: #fff;
  box-shadow: 0 4px 30px rgba(255, 255, 255, 0.2);
}

body.dark-mode .contact-box button:hover {
  background: #4169e1;
  box-shadow: 0 0 10px rgba(65, 105, 225, 0.7);
}

.contact-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 20px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.contact-box {
  border-radius: 10px;
  padding: 2rem;
  max-width: 600px;
  width: 100%;
  text-align: center;
  transition: background 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
}

.contact-box h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.contact-box input,
.contact-box textarea {
  width: 100%;
  padding: 0.75rem;
  margin-bottom: 1rem;
  border: none;
  border-radius: 5px;
}

.contact-box button {
  width: 100%;
  padding: 0.75rem;
  border: none;
  border-radius: 5px;
  font-size: 1.25rem;
  cursor: pointer;
  transition: background 0.3s, box-shadow 0.3s;
}