:root {
  --background-color-light: #ffffff;
  --background-color-dark: #000000;
  --text-color-light: #000000;
  --text-color-dark: #ffffff;
  --border-color: #007bff;
  --overlay-background: rgba(0, 0, 0, 0.5);
  --overlay-text-color: #ffffff;
}

body.light-mode {
  background-color: var(--background-color-light);
  color: var(--text-color-light);
}

body.dark-mode {
  background-color: var(--background-color-dark);
  color: var(--text-color-dark);
}

body {
  margin: 0;
  padding: 0;
  overflow: auto;
  font-family: "Merriweather", serif;
}

.container {
  padding: 20px;
  text-align: center;
}

h1 {
  color: inherit;
}

.gallery-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  max-width: 100%;
  overflow-x: auto;
}

.gallery-card {
  position: relative;
  width: calc(33.33% - 20px);
  min-width: 300px;
  height: auto;
  border: 2px solid transparent;
  overflow: hidden;
  transition: border-color 0.3s ease;
}

.gallery-card:hover {
  border-color: var(--border-color);
}

.gallery-image {
  width: 100%;
  height: auto;
  display: block;
}