* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: whitesmoke;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px; /* Gap between cards */
    max-width: 1200px;
    padding: 20px;
    margin: 0 auto;
}

.card {
    flex: 0 0 300px; /* Flex item properties */
    margin: 10px; /* Margin between cards */
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    transition: transform 0.3s ease;
    position: relative;
}

img {
    width: 100%;
    height: auto;
    border-radius: 3px;
}

.intro {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    background: rgba(27, 27, 27, 0.5);
    color: white;
    transition: .5s;
    transform: translateY(100%);
}

h1 {
    margin: 10px 0;
    font-size: 24px;
}

p {
    font-size: 14px;
    margin: 10px 0;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
}

.card:hover {
    cursor: pointer;
}

.card:hover .intro {
    height: 100%;
    bottom: 0;
    background: rgba(0, 0, 0, 0.8);
}

.card:hover p {
    opacity: 1;
    visibility: visible;
}
